.trip-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.edit-btn,
.delete-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    transition: background-color 0.3s ease;
}

.edit-btn {
    background-color: #4CAF50;
}

.delete-btn {
    background-color: #f44336;
}

.edit-btn:hover,
.delete-btn:hover {
    background-color: #45a049;
}
