
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #000000;
    color: white;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo
{
    display: flex;
    justify-content: center;
}

.logo-img {
    width: 150px;
}

.user{
    display: flex;
    justify-content: right;
    margin-left: 50px;
}

.user a:hover{
    opacity: 50%;
}

.user-img{
    width: 40px;
}

.back-btn a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #555;
    transition: background-color 0.3s ease;
}

.back-btn a:hover {
    background-color: #777;
}

.search-container {
    text-align: center;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
}

input[type="text"],
input[type="date"],
button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    padding: 40px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1 1 300px;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-bottom {
    background-color: #222;
    text-align: center;
    padding: 10px 0;
}



main {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.trips {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.trip-container {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    margin: 10px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}   

.trip-details {
    color: #333;
}

.trip-details h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.trip-details p {
    margin-bottom: 5px;
}

.trip-details p:nth-child(5) {
    color: green;
}

.trip-details p:nth-child(5):contains("Delayed") {
    color: red;
}

.more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.more h2 {
    margin-bottom: 10px;
}

.more button {
    height: 50px;
    width: 300px;
    background-color: white;
}

.more button a {
    text-decoration: none;
    color: black;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.title h1 {
    font-weight: bolder;
    font-size: 2em;
    margin-bottom: 10px;
}



